.home-container{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2{
        font-family: 'Overpass', sans-serif;
        margin: 0px;
    }
    
    h1{
        margin: 0px;
    }
    div{
        
        color: white;
        display: flex;
        flex-wrap: wrap; 
        .row{
            width: 100%;
        }
        .col{
            flex-direction: column;
        }
    }
    
}


.home-about{
    .col{
        width: 50%;
    }


    .about-photo-container img{
        max-width: 80%;
        height: auto;
        margin:auto;
    }
    
    .about-main{
        align-items: center;
    }

    .about-career{
        font-family: 'Lato', sans-serif;
        margin-top: 40px;
        h1{
            font-size: 48px;
        }
    }
    
    .about-capabilities{
        margin-top: 10px;
        font-family: 'Heebo', sans-serif;
        font-weight: 300;
        img{
            max-width: 50%;
            width: auto;
            margin-top: 20px
        }
    }
    
    .about-education, .about-interests, .about-experience{
        font-family: 'Overpass', sans-serif;
        font-size: 14px;
        justify-content:left;
        max-width: 450px;
        margin: 40px;
        flex-direction: column;
        h2{
            font-size: 32px;
            margin:0px;
        }
        h3{
            margin:0px;
            font-weight: 300;
            font-size: 16px;
            opacity: 0.5;
        }
        h3 + h3{
            margin-top: 10px;
        }
        p{
            font-size: 16px;
        }
    }
    .about-capabilities, .about-career{
        justify-content:left;
        max-width: 450px;
        margin-left:40px;
    }
}

.home-work{
    
    border: 1px solid;
    .col{
        width:100%;
    }
    .work-title, .work-subtitle{
        font-family: 'Lato', sans-serif;
        justify-content:left;
        margin-left:40px;
        max-width: 100%;
    }
}

.home-contact{
    
    .contact-title{
        font-family: 'Lato', sans-serif;
    }
    .contact-subtitle, .contact-social{
        font-family: 'Overpass', sans-serif;
        font-size: 14px;
    }
    .contact-title, .contact-subtitle, .contact-social{
        justify-content:left;
        margin-left:40px;
    }

}
