.home-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2{
        font-family: 'Overpass', sans-serif;
        margin: 0px;
    }
    
    h1{
        margin: 0px;
    }
    div{
        
        color: white;
        display: flex;
        flex-wrap: wrap; 
        // .row{
        //     width: 100%;
        // }
        .col{
            flex-direction: column;
        }
    }
    
}
///////////////////////////////ABOUT///////////////////////////////////

.home-about{
    max-width: 75%;
    margin:auto;
    padding: 10px 0 40px 0;
    .col{
        width: 50%;
    }
    
    .about-photo{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }

    .about-intro, .about-info{
        margin-top: 100px;
    }
    .about-photo-container{ 
        margin-top: 40px;
        img{
            width: 80%;
            height: auto;
            box-shadow: -15px 15px #ffffff;
        }  
    }
    
    .about-main{
        align-items: flex-start;
        margin-bottom: 40px;
    }
    
    .about-career{
        font-family: 'Lato', sans-serif;
        h1{
            font-size: 4.5vw;
        }
    }
    
    .about-capabilities{
        margin-top: 10px;
        font-family: 'Heebo', sans-serif;
        font-weight: 300;
        font-size: 1.4vw;
        img{
            max-width: 50%;
            width: auto;
            margin-top: 20px
        }
        .email{
            margin-top: 20px;
            justify-content: center;
            align-items: center;
            background-color: white;
            color: #00956D;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 1.4vw;
            padding: 15px;
            box-shadow: -15px 15px #01684d;
        }
    }

    .about-education{
        margin-top:50px
    }
    
    .about-education, .about-interests, .about-experience{
        font-family: 'Overpass', sans-serif;
        padding: 20px 0 20px 0;
        flex-direction: column;
        h2{
            font-size: 2.4vw;
            margin:0px;
        }
        h3{
            margin:0px;
            font-weight: 300;
            font-size: 1.4vw;
            opacity: 0.5;
        }
        h3 + h3{
            margin-top: 10px;
        }
        p{
            font-size: 1.4vw;
            
        }
    }
    .about-capabilities, .about-career{
        justify-content:left;
    }
}

///////////////////////////////WORK///////////////////////////////////

.home-work{
    padding: 150px 0 150px 0;
    width: 100%;
    background-color: white;
    div{
        color:#00956D;
    }
    h1{
        font-size: 4.5vw;
    }
    .work-subtitle{
        font-size: 1.4vw;
    }
    .home-work-container{
        width:75%;
        margin:auto;
    }
    .col{
        width:100%
        ;
    }
    .work-title, .work-subtitle{
        font-family: 'Lato', sans-serif;
        max-width: 100%;
    }
    .work-portfolio{
        width: 100%;
        margin: auto;
        align-content: space-between;
        
        .portfolio{
            flex-direction: column;
            width:33.33%;
            margin: 20px 0 20px 0;
            img{
                width: 100%;
            }
            
            div{
                justify-content: flex-start;
                flex-direction: column;
                margin:auto;
                width:85%;
                h4{
                    display: flex;
                    margin:0%;
                    font-size: 1.8vw;
                }
                p{
                    font-size: 1.4vw;
                    display: flex;
                    margin:0%;
                    color: grey;
                    
                }
            }
        }
    }
    .work-subtitle + .work-portfolio{
        margin-top: 40px;
    }
    .work-portfolio + .work-portfolio{
        margin-top: 40px
    }
}

///////////////////////////////CONTACT///////////////////////////////////

.home-contact{
    width:75%;
    margin: auto;
    .contact-container{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    height: auto;
    h1{
        font-size: 4.5vw;
    }
    
    .contact-title{
        font-family: 'Lato', sans-serif;
    }
    .contact-subtitle, .contact-social{
        font-family: 'Overpass', sans-serif;
        font-size: 1.4vw;
    }
    .contact-title, .contact-subtitle, .contact-social{
        justify-content:left;
    }
    .contact-copyright{
        font-size: 1vw;
        align-self: flex-end;
        justify-content: center;
        padding: 10px;
    }

}
