body{
  background-color: #00956D;
}


#root{
  font-family: 'Lato', sans-serif;
  width: 100%;
  
}

.row{
  width: 100%;
  
}

.col{
  width: 50%;
}



.nav-header.row{
  font-size: 1.4vw;
  display: flex;
  align-items: center;
  max-width: 85%;
  margin:auto;
  margin-bottom: 50px;
  // margin-top: 10px;
  
}

.nav-logo-col{
  display: flex;
  width: 50%;
  
  ul{
    display: flex;
    .nav-logo{
      display:flex; 
      font-weight: 500;
      font-family: 'Lato', sans-serif;
      align-items: center;
      width: 100%;
      img, a{
        cursor:pointer;
      }
      a{
        margin-left: 4%;
        text-decoration: none;
        color: white;
        display:flex;
      }
      img{
        width:9%
      }
    }
  }
}

.nav-menu-col{
  display: flex;
  width: 50%;
  ul{
    display: flex;
    justify-content: flex-end;
    .nav-item{
      cursor:pointer;
      display:flex; 
      font-weight: 300;
      font-family: 'Lato', sans-serif;
      a{
        text-decoration: none;
        color: white;
        display:flex;
      }
    }
    .nav-item + .nav-item{
      margin-left: 5%;
    }
    .nav-item:hover{
      font-weight: 500;
    }
  }
}