/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  background-color: #00956D;
}


div{
  display: flex;
  justify-content: left;
  width: auto;
}

#root{
  font-family: 'Raleway', sans-serif;
  width: 100%;
  flex-direction: column;
}
.row{
  width: 100%;
}

.col{
  flex-direction: column;
  width: 50%;
}
.nav-menu .nav-item {
  display:flex;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.nav .nav-logo {
  display:flex;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.nav .nav-name {
  margin-left: 20px;
  display:flex;
  align-items: center;
}

.nav{
  justify-content: left;
}

.nav-menu .nav-item .active{
  font-weight: bold;
  color: white;
}

.nav-menu ul{
  display:flex;
}
.nav-menu{
  display:flex;
  justify-content: left;
  text-align: right;
}

.nav-menu .nav-item a {
  text-decoration: none;
  color: white;
  display:flex;
}

.nav-menu .nav-item a:hover {
  text-decoration: none;
  font-weight:bold;
  display:flex;
}

.nav-item + .nav-item {
  margin-left: 10px;
}

.btn{
  border-style: none;
}
